{% extends 'base.html' %}
{% block title %}Start Page{% endblock %}
{% block content %}
<h1 class="text-secondary"><b>Flask-Feedback App</b></h1>
<p class="lead">Register or login to access feedback page ...</p>

<ul>
  {% if 'user_id' not in session %}
    <li><a href="/register">Register</a></li>
    <li><a href="/login">Login</a></li>
  {% endif %}

  {% if 'user_id' in session %}
    <li><a href="/logout">Logout</a></li>
    <li><a href="/secret">Secret</a></li>
  {% endif %}
</ul>

{% endblock %}
